<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
    </tr>
    <th:block th:each="product:${product}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>